<div class="body">
    <div class="login">
        <mat-spinner diameter="50" class="spinner" *ngIf="loading"></mat-spinner>
        <form [formGroup]="form" (ngSubmit)="login()" *ngIf="!loading">
            <img src="../../../assets/img/usuario.png" alt="usuario" width="50%">
            <h1>Login</h1>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Usuario</mat-label>
                <input matInput autocomplete="off" formControlName="usuario">
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput autocomplete="off" formControlName="password">
            </mat-form-field>
            <br>
            <button class="ancho button" mat-raised-button color="primary" [disabled]="form.invalid">Ingresar</button>
        </form>
       
    </div>
    
</div>
